{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
        .products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
        }
    </style>
    <div class="products">
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img style="width: 190px;" src="/media/{{ product.image }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ product.title}}</h5>
                        <p>{{ product.category.title }}</p>
                <a href="/product/{{ product.id }}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

